<div class="my-3">
    <div class="card shadow bg-body rounded">
      <div class="row m-3">
        <div class="col-10 text-start align-middle">
          <span class="fs-3">USERS</span>
        </div>
        <div class="col-2 justify-content-center align-items-center ">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-2" type="button" routerLink="/users/addUser">Add User</button>
          </div>
        </div>
      </div>
    </div>
  <hr>
    <table class=" table table-hover caption-top my-3">
      <caption>List of Users</caption>
      <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" (click)="rowClicked(user.id)" >
          <td>{{user.id}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.password}}</td>
        </tr>
      </tbody>
    </table>
  </div>