<div class="p-3">
  
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a class="nav-link link-dark" routerLinkActive="active" routerLink="/tasks/showTasks">
        <fa-icon class="mx-1  fa-sm" [icon]="icoTasks"></fa-icon>
        Tasks
      </a>
    </li>
    <li>
      <a class="nav-link link-dark" routerLinkActive="active"  routerLink="/projects/showProjects">
        <fa-icon class="mx-1 fa-sm" [icon]="icoProjects"></fa-icon>
        Projects
      </a>
    </li>
    <li>
      <a class="nav-link link-dark" routerLinkActive="active" routerLink="/users/showUsers">
        <fa-icon class="mx-1 fa-sm" [icon]="icoUsers"></fa-icon>
        Users
      </a>
    </li>
  </ul>
</div>
