<div class="p-3">
  
  <ul class="nav nav-pills flex-column mb-auto">
    <!-- <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/">
        <fa-icon class="mx-1 fa-sm" [icon]="icoHome"></fa-icon>
        Home
      </a>
    </li> -->
    <li>
      <a class="nav-link link-dark" routerLink="/tasks">
        <fa-icon class="mx-1  fa-sm" [icon]="icoTasks"></fa-icon>
        Tasks
      </a>
    </li>
    <li>
      <a class="nav-link link-dark" routerLink="/projects">
        <fa-icon class="mx-1 fa-sm" [icon]="icoProjects"></fa-icon>
        Projects
      </a>
    </li>
    <li>
      <a class="nav-link link-dark"routerLink="/users/showUsers">
        <fa-icon class="mx-1 fa-sm" [icon]="icoUsers"></fa-icon>
        Users
      </a>
    </li>
  </ul>
</div>
