
    <footer class="d-flex flex-wrap justify-content-between py-3 px-3 border-top footer">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted">Made with <fa-icon [ngStyle]="{'color': 'red'}" [icon]="icoHeart"></fa-icon> by Shubham Roy</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="https://github.com/ShubhamRoy96" target="_blank"> <fa-icon [icon]="icoLinkedIn"></fa-icon></a></li>
            <li class="ms-3"><a class="text-muted" href="https://in.linkedin.com/in/shubhamroy96" target="_blank"><fa-icon [icon]="icoGithub"></fa-icon></a></li>
        </ul>
    </footer>
