
    <footer class="d-flex flex-wrap justify-content-between py-3 px-3 border-top footer">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted">Made with &#9829; by Shubham Roy</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                        <use xlink:href="#twitter" />
                    </svg>twitter</a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                        <use xlink:href="#instagram" />
                    </svg>instagram</a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                        <use xlink:href="#facebook" />
                    </svg>facebook</a></li>
        </ul>
    </footer>
