<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Profile deletion</h4>
    <a type="button" class="text-danger" aria-describedby="modal-title" (click)="activeModal.dismiss('Cross click')">
      <fa-icon [icon]="icoClose"></fa-icon>
    </a>
  </div>
  <div class="modal-body">
    <p innerHTML={{innerHTML}} ></p>
  </div>
  <div *ngIf="isNormalButtonsShown" class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Cancel clicked')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="performOK()">Ok</button>
  </div>
  <div *ngIf="!isNormalButtonsShown" class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">OK</button>
  </div>