<div class="my-3">
  <div class="card shadow bg-body rounded">
    <div class="row m-3">
      <div class="col-10 text-start align-middle">
        <span class="fs-3">UPDATE TASK</span>
      </div>
      <div class="col-2 justify-content-center align-items-center ">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-outline-danger me-2" type="button" (click)="confirmDeletion()">Delete</button>
          <!--change routerLink to actual functionality-->
          <button class="btn btn-outline-danger me-2" type="button" routerLink="/tasks/showTasks">Cancel</button>
          <!--change routerLink to actual functionality-->
          <button class="btn btn-success me-2" type="button" (click)="updateTask()">Save</button>
          <!--change routerLink to actual functionality (routerLink="/users/addUser")-->
        </div>
      </div>
    </div>
    <hr>
    <div class="container-fluid m-3">
      <div class="row my-2">
        <div class="col">
          <p>Project ID</p>
        </div>
        <div class="col mx-2">
          <input [(ngModel)]="project" type="text" class="form-control" aria-describedby="Project ID"
            placeholder="Enter Project ID">
        </div>
      </div>
      <div class="row my-2">
        <div class="col">
          <p>Assigned to User</p>
        </div>
        <div class="col mx-2">
          <input [(ngModel)]="assignedToUser" type="text" class="form-control" aria-describedby="Assign to User"
            placeholder="Enter User">
        </div>
      </div>
      <div class="row my-2">
        <div class="col">
          <p>Status</p>
        </div>
        <div class="col">
              <div ngbDropdown class="d-block">
                <button class="btn" id="dropdownBasic1" ngbDropdownToggle>{{status}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <a (click)="clicked(stat)" *ngFor="let stat of keys" ngbDropdownItem>{{stat}}</a>
                </div>
              </div>
        </div>
      </div>
      <div class="row my-2">
        <div class="col">
          <p>Detail</p>
        </div>
        <div class="col mx-2">
          <input [(ngModel)]="detail" type="text" class="form-control" aria-describedby="Detail"
            placeholder="Enter Detail">
        </div>
      </div>
    </div>
  </div>
</div>