<div class="container-fluid px-0 bg-grey">
<div class="row">
    <app-navbar></app-navbar>
</div>
<div class="row vh-100">
    <span *ngIf="router.url.includes('login') || router.url.includes('error'); else showSidebar">
    </span>
    <div class="col">
        <router-outlet></router-outlet>
    </div>
    <ng-template #showSidebar>        
        <div class="col-lg-2 sidebar">
            <app-sidebar ></app-sidebar>
        </div>
    </ng-template>
</div>
<div class="row">
    <app-footer></app-footer>
</div>
</div>